@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');
:root{
  --primary-color:rgba(13, 110, 139,.56);
  --overlay-color:rgba(24,39,51,0.85);
  --menu-speed:0.75s;
}
.btn:hover
{
  opacity:1;
}

header
{
background:#1ea8fd;
color:#39FF14;
text-transform:uppercase;
letter-spacing:6px;
text-decoration:none;
overflow:hidden;
transition:0.6s;
min-height:4px;
font-weight: bold;
border-bottom:#FE0002 4px solid;
}
header .highlight,header .current a
{
 color:#15d1e6;
 font-weight:bold;
 text-shadow: 3px 4px 7px #000000;
}
header a
{
 color:#ffffff;
 text-decoration:none;
 text-transform:uppercase;
 font-size:25px;
 text-shadow: 3px 4px 7px #012;
}
header ul
{
 margin:20px;
 padding:20px;
}
header li
{
 display:inline;
 padding:0 20px 0 20px;
}
header #branding h1
{
 margin-left:28%;
 font-size: 50px;
 text-shadow: 5px 6px 9px #012;
}
.container
{
width:100%;
text-align: left;
overflow:hidden;
}
aside #sidebar
{
  float:right;
  width:80%;
  margin-top: 10px;
}
article  p
{
  font-size: 30px;
}
#center
{
  text-align: center;
}
#main{
  font-size: 27px;
  text-align: justify;
}
#boxes .box h3
{
  color: #ffffff;
  font-family: Poppins;
  padding-bottom: 20px;
  font-weight: bold;
}
.dark
{
  padding: 15px;
  background: #35424a;
  color:#ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
header nav
{
 text-align: center;
 margin-top:10px;
}
header a:hover{
 color:#ff0000;
 font-weight: bold;
 transition: 1s;
 animation: left;
}
#boxes{
  margin-top: 40px;
  margin-bottom: 60px;
}
#boxes a
{
  font-size: 30px;
  font-weight:bold;
  color: #ffffff;
}
#boxes .box{
  float:left;
  font-size: 20px;
  width: 33%;
  text-align:center;
  text-shadow: 2px 2px 3px #012;
}
#boxes .box img{
  width: 220px;
  height:200px;
  margin-top: 50px;
}
footer{
  padding: 20px;
  margin-top: 10px;
  color: #ffffff;
  background-color:#1593a5;
  text-align: center;
}
footer a
{
  color:#ffffff;
  font-size: 20px;
  float: center;
}
#skill .sk
{
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}
#skill
{
  height: 70px;
  color:#ffffff;
  background:#1593a5;
  text-align: center;
  text-shadow: 2px 2px 8px #666;
}
showcase h1
{
  margin-top: 10px;
  margin-bottom:100px;
}
#newsletter
{
  padding-top:20px;
  padding-bottom: 20px;
  color:#ffffff;
  background:#1ea8fd;
}
#newsletter h1
{
  margin-left:200px;
  text-align: center;
  float: center;
  border-bottom: 10px;
}
#newsletter form{
  float:right;
  margin-top: -40px;
}
#newsletter input[type="text"]
{
  padding:16px;
  height:20px;
  width: 420px;
}

*
{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
body
{
font-family: 'Roboto',sans-serif;
line-height: 1;
background-color: #060c21;
}
#parallax
{
 position: relative;
 width: 100%;
 height: 100vh;
 overflow: hidden;
 display:flex;
 justify-content: center;
 align-items: center;
 font-size: 8px;
 z-index: auto;

}
#parallax:before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
#parallax:after
{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%
  background:#ffbf00;
  z-index: 10000;
  mix-blend-mode: color;
}
#parallax img
{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  object-fit:cover;
  pointer-events: none;
}
#text
{
  position: relative;
  color: #ffff;
  font-size: 10em;
  z-index: 1;
}
#road
{
z-index:2;
}
.container
{
  max-width:960px;
  margin: auto;
  overflow: hidden;
}
.showcase
{

  background-color: var(--primary-color);
  color:#fff;
  height: 100vh;
  position: relative;
}
.showcase:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%
  z-index:-1;
}
.showcase .showcase-inner
{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  height:100%;
}
.showcase h1
{
  font-size:4rem;
}
.showcase p
{
  font-size:1.3rem;
}
.btn1
{
  display:inline-block;
  border:29px;
  background-color:var(--primary-color);
  color:#fff;
  padding:0.75em 1.5rem;
  margin-top:1rem;
  text-decoration: none;
  transition:opacity 1s ease-in;
}

.btn
{
  display: inline-block;
  width:90px;
  height:90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color:#3498db;
  overflow:hidden;
  position:relative;
}
.btn i
{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i
{
  transform: scale(1.3);
  color:#f1f1f1;
}

.btn::before
{
  content: "";
  position: absolute;
  width:120%;
  height: 120%;
  background:#3498db;
  transform:rotate(45deg);
  left:-110%;
  top:90%;
}
.btn:hover::before
{
  animation :aaa 0.7s 1;
  top:-10%;
  left: -10%;
}
@keyframes aaa {
0%{
  left: -110%;
  top:90%;
}
50%{
  left:10%;
  top:-30%;
}
100%{
  top:-10%;
  left: -10%;
}
}
.hi
{
  border-top: 30px;
  color: #FF2A00;
  font-size: 75px;
  font-weight: bolder;
  text-shadow: 3px 4px 7px #000000;
}
.ui
{
  margin: 0;
  padding:0;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height: 140vh;
  font-family: 'Poppins',sans-serif;
  border-bottom: -20px;
}
.contain
{
  position: relative;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
  grid-template-rows: auto;
  grid-gap:0 80px;

}
.contain .bx
{
  position: relative;
  height: 500px;
  background:#060c21;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
.cont{
  position: relative;
  padding: 10px;
  transition: translateY(40px);
}
.bx .cont h2
{
  position: absolute;
  top: -60px;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: rgba(255,255,255,0.05);
  transition:0.5s;
}
.bx:hover .cont h2
{
  top:-150px;
}
.bx .cont h3
{
  margin:0 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  color:#fff;
}
.bx .cont p
{
 margin: 0;
 padding: 0;
 color: #fff;
 font-size: 16px;

}
.bx .cont a
{
  position: relative;
  margin: 20px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border:1px solid #fff;
  display:inline-block;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}
.bx:hover .cont a
{
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.bx .cont a:hover
{
  color: #000;
  background: #fff;
}
.contain .bx::before{
  content:'';
  position: absolute;
  top: -2px;
  left: -2px;
  right:-2px;
  bottom: -2px;
  background: #fff;
  transform: skew(2deg,2deg);
  z-index: -1;
}
.contain .bx::after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255,0.05);
  pointer-events: none;
}
.contain .bx:nth-child(1):before
{
  background:linear-gradient(315deg,#ff0057,#e64a19);
}
.contain .bx:nth-child(2):before
{
  background:linear-gradient(315deg,#89ff00,#00bcd4);
}
.contain .bx:nth-child(3):before
{
  background:linear-gradient(315deg,#e91e63,#5d02ff);

}
.contain .bx:nth-child(4):before
{
  background:linear-gradient(315deg,#ff0000,#ffc107);
}
.highlight
{
 color: #ff0000;
}
.vid h2:before
{
 content: '';
 position: absolute;
 left: 190%;
 width: 100%;
 height: 100%;
 background:linear-gradient(90deg,transparent 0%,#000 5%,#000 100% );
 animation: animate1 2s linear forwards;
 animation-delay: 2s;
}
@keyframes animate1
{
  0%
  {
    left:190%;
  }
  100%
  {
    left:-4%;
  }
}
.vid h2 span
{
  color:#ff022c;
}
.vid video{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:2;
  pointer-events: none;
  mix-blend-mode: screen;
}
